$maxMobile:"(max-width:767px)";
$maxSmall:"(max-width:991px)";
$minSmall:"(min-width:768px)";
$minMedium:"(min-width:992px)";
$minLarge:"(min-width:1200px)";

$blackColor:"#000";
$bodyColor:#eee;
$headerColor:#91193C;
$whiteColor:#FFF;
$searchColor:#f68b1e;
$redColor:#e2494c;
$greyColor:#9c9c9c;
$grey2Color:rgb(245, 243, 243);
$float-left:left;
$float-right:right;
$paragraphColor:#CDCDCD;
$text-right:right;
$text-left:left;
$redColor:#FF0000;