//header section
.form-inline {
  flex-flow: nowrap;
}
.myHeader {
  background-color: $headerColor;
  .artImg {
    width: 1140px;
  }
}
.allContent {
    position: fixed;
    top: 0;
    z-index: 100;
  background-color: $whiteColor;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  .searchInputContainer {
    width: 43vw !important;
    .searchInput {
      border-left: none;
    }
    .searchInput {
      background-color: $whiteColor;
    }
    .searchBtn {
      background-color: $searchColor !important;
      color: $whiteColor;
    }
  }
  .btn:focus,
  .searchInput:focus {
    box-shadow: none !important;
  }
  .cart {
    width: 100px;
  }
  @media (max-width: 992px) {
    .cart {
      margin-left: 12px;
    }
  }
  .show:hover,
  .btn:hover,
  .cart:hover {
    color: $searchColor;
  }
}

//////////////////////////////////////////////////
//breadcrumb section
.breadCrumb ol {
  padding-left: 0 !important;
}
.breadCrumb li {
  font-size: 0.75rem;
}

///////////////////top picks/////////////////////////////////////
/////////////////////androidPhonesWithCategory////////////////////
.phoneCategories {
  height: 2000px;
  padding: 4px 0 4px 15px;
  border-radius: 5px;
  background-color: $whiteColor;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
  .dropright .dropdown-toggle::after {
    display: none !important;
  }
  .btn:focus {
    box-shadow: none !important;
  }
  .dropdown-toggle {
    padding: 0;
  }
  .dropdown-toggle span {
    font-size: 11px;
    padding: 0;
  }
}
.category,
.androidPhones {
  background: #fff;
}

.androidPhones {
  margin-left: 90px;
  box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
}

.salaries {
  margin-left: 76px;
}
@media (max-width: 992px) {
  .androidPhones {
    margin-left: 0px;
    margin-top: 10px;
  }
  .otherOptions {
    justify-content: center !important;
  }
  .productContent {
    text-align: center;
  }
  .phoneNewSalary {
    margin-left: 0px;
  }
  .officialStore,
  .mobileDiscount {
    margin: auto;
  }
  .salaries {
    display: flex;
    align-self: center;
    margin-left: 0px;
  }
  .phoneNewSalary {
    margin-left: 0px !important;
  }
  .addToCart {
    margin: 100px auto 15px;

  }
}

.otherOptions {
  justify-content: flex-start;
}
.separator {
  border: 1px solid #eee;
  width: 100%;
}
.form-check-input {
  width: 17px;
  height: 17px;
}
.fa-star {
  color: #ccc;
}
.orangeStar {
  color: $searchColor;
}
.expressText {
  color: $searchColor;
  margin-left: 13px;
}
.fa-exclamation-circle {
  margin-left: 75px;
  color: #ccc;
}

.has-search .form-control {
  padding-left: 2.375rem;
  border-radius: 20px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #000;
  border-radius: 20px;
}
.mobileTypes {
  width: 90%;
  height: 155px;
  overflow-y: auto;
  border-bottom: 1px solid #eee;
}
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
  transition: 0.5s all ease-in-out;
}

//left of phones page
.androidPhones {
  .sortedList {
    justify-content: space-between;
  }
  .productNum {
    color: #ccc;
  }
  .mobileInfo .officialStore {
    background-color: #b60000;
    color: #fff;
    border-radius: 5px;
    padding: 4px;
    width: 95px;
    height: 30px;
  }
  .mobileTitle {
    font-size: 14px;
  }
  .oldSalary {
    color: #9c9c9c;
    text-decoration: line-through;
    margin-bottom: 4px;
  }
  .mobileDiscount {
    background: #feefdf;
    color: #f68b1f;
    padding: 0 4px;
    width: 46px;
    height: 23px;
    margin-left: 3px;
  }
  .form-check {
    margin-left: -21px;
  }
  .numStars {
    color: #9c9c9c;
    font-size: 14px;
  }
  .addToCart {
    background: #f68b1f;
    color: #fff;
    width: 205px;
    margin-top: 100px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
  }
  .expressText {
    margin-left: 3px;
  }
  .eligable {
    margin-left: 2px;
  }
  .phoneNewSalary {
    margin-left: 105px;
  }
}

//information section
.Information .container {
  background: $whiteColor;
  p {
    font-size: 0.75rem;
  }
  a {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
  }
}

// download apps
.downloadApps {
  background: #282828;
  .first {
    span {
      color: $whiteColor;
      font-size: 24px;
    }
    .fa-cart-plus {
      color: $whiteColor;
      font-size: 24px;
    }
  }
  .subscribe {
    h6 {
      color: $whiteColor;
      text-transform: uppercase;
    }
    p {
      color: #9ba2b0;
      font-size: 12px;
    }
    .input-group-text {
      background: $whiteColor;
      .fa-envelope {
        color: #c7c7cd;
      }
    }
    .form-control {
      width: 291px;
    }
    .form-control::placeholder {
      font-size: 13px;
    }
    .maleBtn,
    .femaleBtn {
      background: transparent;
      border: none;
      border: 1px solid $whiteColor;
      color: $whiteColor;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;
      padding: 3px 10px;
    }
  }
  .downloads {
    .downloadContents {
      .cartContainer {
        background: $searchColor;
        border-radius: 6px;
        padding: 6px;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        .fa-cart-plus {
          color: #fff;
          font-size: 24px;
        }
      }
      .downloadFree {
        text-transform: uppercase;
        color: $whiteColor;
        font-weight: bold;
        font-size: 13px;
      }
      .getAccess {
        color: #9ba2b0;
        font-size: 12px;
      }
    }
  }
}

//footer information

.footerInfo {
  background: #323232;
  h6 {
    color: $whiteColor;
    font-size: 14px;
  }
  .firstList {
    padding-left: 0;
  }
  ul {
    list-style-type: none;
    a {
      color: #c7c7cd;
      font-size: 12px;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .allList {
    display: flex;
    .second {
      margin-left: 50px;
    }
  }
  @media (max-width: 992px) {
    .firstList {
      padding-left: 15px;
    }
  }
}

/////////////////////////////
.contactUsContainer {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  width: 150px;
}
.contactUsContainer li a {
  color: #fff;
  transition: 0.5s all ease-in-out;
}
.contactUsContainer li a:hover {
  color: #f68b1f;
}
